@import '//cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css';

* {
	box-sizing: border-box;
}

:root {
	--grey1: #f8f8f8;
	--grey2: #f5f6f7;
	--grey3: #EEE;
	--grey4: #d1d1d1;
	--grey5: #c1c1c1;
	--black1: #1e1e1e;
	--white: white;
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
	background: var(--grey1);
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	color: var(--black1);
	cursor: default;
}

article {
	margin: 5% 15%;
}

/*
section {
	background: var(--white);
	border: 1px solid var(--grey3);
	padding: 0 1em;
}
*/

.steps li:not(.active) {
	color: #CCC;
}
.steps li:not(.active) section {
	display: none;
}


h1, h2, body {
	font-weight: 300;
}

input {
	display: inline-block;
	border: none;
	cursor: text !important;
}
.action, input {
	font-size: 1rem;
	display: inline-block;
	padding: 0.75rem 1rem;
	background: white;
	border: 1px solid transparent;
	border-bottom: 1px solid var(--grey4);
	border-right: 1px solid var(--grey4);
	margin: 0 0.5rem;
	cursor: pointer;
	transition: 0.1s box-shadow;
}
.action:hover {
	text-decoration: underline;
}
.action:active {
	border-top: 1px solid var(--grey3);
	border-left: 1px solid var(--grey3);
	border-bottom: 1px solid var(--grey5);
	border-right: 1px solid var(--grey5);
	box-shadow: 0 0 3px var(--grey5);
}
.action.patreon  {
	background-image: url('/images/patreon.png');
	background-repeat: no-repeat;
	background-size: 1.5rem 1.5rem;
	background-position: 1rem 0.5rem;
	padding-left: 3rem;
}

section {
	margin: 3em 0;
}

/*
body {
	animation: fadein 1s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
*/