@import '/vendor/normalize.min.css';

* {
	box-sizing: border-box;
}

:root {
	--grey1: #f8f8f8;
	--grey2: #f5f6f7;
	--grey3: #EEE;
	--grey4: #d1d1d1;
	--grey5: #c1c1c1;
	--grey6: #bbb;
	--grey7: #aaa;
	--black1: #1e1e1e;
	--white: white;
}

html {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
	background: var(--grey1);
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	color: var(--black1);
	cursor: default;
	font-size: 90%;
}

article {
	margin: 5% 5%;
}

div.preview {
	background: var(--white);
	border: 1px solid var(--grey3);
	padding: 1em;
}
div.preview img {
	max-width: 10em;
	max-height: 10em;
}

.steps li:not(.active) {
	color: #CCC;
}
.steps li:not(.active) section {
	display: none;
}


h1, h2, h3, body, input, select {
	font-weight: 300;
}

input {
	display: inline-block;
	border: none;
}
.action, input, select {
	-webkit-appearance: none;
	border-radius: 0;
	font-size: 1rem;
	display: inline-block;
	padding: 0.75rem 1rem;
	background: white;
	border: 1px solid transparent;
	border-bottom: 1px solid var(--grey4);
	border-right: 1px solid var(--grey4);
	margin: 0 0.5rem;
	transition: 0.1s box-shadow;
}
input {
	border: 1px solid transparent;
	border-top: 1px solid var(--grey4);
	border-left: 1px solid var(--grey4);
}
input:focus {
	outline: none;
}
.action, select {
	cursor: pointer;
}
.action:hover {
	text-decoration: underline;
}
.action:active {
	border-top: 1px solid var(--grey3);
	border-left: 1px solid var(--grey3);
	border-bottom: 1px solid var(--grey5);
	border-right: 1px solid var(--grey5);
	box-shadow: 0 0 3px var(--grey5);
}
.action.patreon  {
	background-image: url('/vendor/patreon.png');
	background-repeat: no-repeat;
	background-size: 3ex;
	background-position: left 0.75rem center;
	padding-left: 3rem;
}
fieldset {
	border: none;
	padding: 0;
	margin: 0;
	margin-bottom: 1.75rem;
}
fieldset input {
	width: 45%;
	margin-bottom: 0.75rem;
}

select,
form input:valid,
form input:invalid {
	padding-right: 3rem;
	background-position: right 1rem center;
	background-repeat: no-repeat;
	background-size: 1ex;
	background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
}

form input:valid {
	background-size: 2ex;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
}
form input:invalid {
	background-size: 2ex;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
}

form:invalid .preview {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1
}
form:invalid .submit {
	color: var(--grey5);
	cursor: default;
	text-decoration: unset;
}

.hide {
	all: initial !important;
	visibility: hidden !important;
	display: inline-block !important;
	height: 1px !important;
	width: 1px !important;
}

section {
	margin: 3em 0;
}

/*
body {
	animation: fadein 1s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
*/